<div fxLayout="column">
  <h2 mat-dialog-title fxFlex fxFlexAlign="center">Editar</h2>
  <div mat-dialog-content>
    <div fxLayout fxLayoutAlign="center" class="top">
      <div fxFlex>
        <div id="form">
          <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field fxFlex appearance="outline">
              <mat-label>Entidad</mat-label>
              <mat-select required (selectionChange)="onEntitySelectChange($event)" [value]='selectedDependence.EntityId'>
                <mat-option *ngFor="let e of entities" [value]="e.EntityId">
                  {{ e.EntityName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field fxFlex appearance="outline">
              <mat-label>Dependencia</mat-label>
              <mat-select [(ngModel)]="model.DependenceId" [disabled]="disabledDependence">
                <mat-option *ngFor="let d of dependences" [value]="d.DependenceId">
                  {{ d.DependenceName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field fxFlex appearance="outline">
              <mat-label>Nombre serie</mat-label>
              <input matInput placeholder="Nombre serie" required min="0" type="text" autocomplete="off" [(ngModel)]="model.SerieName" />
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field fxFlex appearance="outline">
              <mat-label>Código</mat-label>
              <input matInput placeholder="Código" required min="0" type="text" autocomplete="off" [(ngModel)]="model.Code" />
            </mat-form-field>
          </div>
        </div>
        <br />
        <br />
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]>Cancelar</button>
    <button mat-button (click)="save()" [disabled]='disabledDependence' cdkFocusInitial>Aceptar</button>
  </div>
</div>
