<div fxLayout="column">
    <h2 mat-dialog-title fxFlex fxFlexAlign="center">Crear</h2>
    <div mat-dialog-content>
      <div fxLayout fxLayoutAlign="center" class="top">
        <div fxFlex>
          <div id="form">
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
              <mat-form-field fxFlex appearance="outline">
                <mat-label>Nombre subserie</mat-label>
                <input matInput placeholder="Nombre subserie" required min="0" type="text" autocomplete="off" [(ngModel)]="model.SubserieName" />
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
              <mat-form-field fxFlex appearance="outline">
                <mat-label>Código</mat-label>
                <input matInput placeholder="Código" required min="0" type="text" autocomplete="off" [(ngModel)]="model.Code" />
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                <mat-form-field fxFlex appearance="outline">
                  <mat-label>Procedimiento</mat-label>
                  <textarea matInput [(ngModel)]="model.Process" placeholder="Procedimiento"></textarea>
                </mat-form-field>
              </div>
          </div>
          <br />
          <br />
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]>Cancelar</button>
      <button mat-button (click)="save()" cdkFocusInitial>Aceptar</button>
    </div>
  </div>
