<div fxLayout="column">
  <h2 mat-dialog-title fxFlex fxFlexAlign="center">Editar Usuario</h2>
  <div mat-dialog-content>
    <div fxLayout fxLayoutAlign="center" class="top">
      <div fxFlex>
        <div id="form">
          <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field fxFlex appearance="outline">
              <mat-label>Nombre de usuario</mat-label>
              <input
                matInput
                placeholder="Nombre de usuario"
                required
                min="0"
                type="text"
                autocomplete="off"
                [(ngModel)]="model.UserName"
              />
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field fxFlex appearance="outline">
              <mat-label>Rol</mat-label>
              <mat-select autocomplete="off" required [(ngModel)]="model.RoleId" (valueChange)="model.RoleId = $event">
                <mat-option *ngFor="let rl of roleModel" [value]="rl.RoleId">
                  {{ rl.RoleName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-checkbox color="primary" [(ngModel)]="model.State">Activo</mat-checkbox>
          </div>
        </div>
        <br />
        <br />
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]>Cancelar</button>
    <button mat-button (click)="save()" cdkFocusInitial>Aceptar</button>
  </div>
</div>
