<div fxLayout class="separate">
  <div fxFlex="10"></div>
  <div fxFlex>
    <h1>Administración Usuarios</h1>
  </div>
  <div fxFlex="10"></div>
</div>
<div fxLayout="row">
  <div fxFlex="10"></div>
  <div fxFlex>
    <div fxLayout="row">
      <div fxFlex>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
        </mat-form-field>
      </div>

      <div fxFlex="10" fxFlexAlign="center">
        <button class="float-right" mat-raised-button color="primary" (click)="create()">Sincronizar</button>
      </div>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="UserId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let element">{{ element.UserId }}</td>
        </ng-container>

        <ng-container matColumnDef="UserName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre de usuario</th>
          <td mat-cell *matCellDef="let element">{{ element.UserName }}</td>
        </ng-container>

        <ng-container matColumnDef="State">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
          <td mat-cell *matCellDef="let element">{{ element.State ? 'Activo' : 'Inactivo' }}</td>
        </ng-container>

        <ng-container matColumnDef="RoleName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rol</th>
          <td mat-cell *matCellDef="let element">{{ element.RoleName }}</td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon
              matTooltip="Eliminar"
              matTooltipPosition="above"
              class="pointer"
              (click)="delete(element)"
              color="warn"
              >delete</mat-icon
            >
            <mat-icon
              matTooltip="Editar"
              matTooltipPosition="above"
              class="pointer"
              (click)="edit(element)"
              color="primary"
              >edit</mat-icon
            >
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
    </div>
  </div>
  <div fxFlex="10"></div>
</div>
