  <div fxLayout="row">
    <div fxFlex="70" fxHide.sm fxHide.xs>
    </div>
    <mat-card fxFlex class="full-height login" color="primary" >
      <div fxLayoutAlign="center">
        <img src="../../assets/images/favicon_cid.png" class="login-image" alt="">
      </div>
      <mat-card-content>
        <mat-card>
          <mat-card-header fxLayoutAlign="center">
            <h2>Bienvenido al Sistema</h2>
          </mat-card-header>
          <mat-card-content>
            <form fxLayout="column" autocomplete="off">
              <mat-form-field>
                <input matInput placeholder="Usuario" [(ngModel)]="model.UserName"  [ngModelOptions]="{standalone:true}" autocomplete="off">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Contraseña" type="password" [(ngModel)]="model.Password" [ngModelOptions]="{standalone:true}" autocomplete="off">
              </mat-form-field>
              <button mat-raised-button color="primary" [disabled]="loading" name="login-btn" (click)="login()">Ingresar</button>
            </form>
          </mat-card-content>
        </mat-card>
      </mat-card-content>

    </mat-card>
  </div>
