<mat-toolbar color="accent" [class.header-show]="shouldStick" [class.hidden]="isActiveRoute('/login')" class="mat-elevation-z8 pointer header">
  <mat-toolbar-row>
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="./../assets/images/favicon_cid.png" style="width:2% " alt="">
    <a (click)="goTo('/Home')"> Coosalud Inventarios Documentales</a>
    <span class="example-spacer"></span>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="closeSession()">Cerrar Sesión</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="full-height" [style.marginTop.px]="!toggleNav && !isActiveRoute('/login') ? 56 : 0" [class.background]="isActiveRoute('/login')">
  <mat-sidenav [class.hidden]="isActiveRoute('/login')" [(opened)]="opened" [mode]="mode" [fixedInViewport]="fixedInViewport"
    #snav>
    <a href="/" fxLayout="row" class="logo">
      <span fxFlex fxLayoutAlign="center center">
        <img src="./../assets/images/logo_c.png" alt="">
      </span>
      <!-- <i fxFlex fxLayoutAlign="center center"></i> -->
      <!-- <span fxFlex="80" fxLayoutAlign="center center">Coosalud TRD</span> -->
    </a>
    <mat-divider></mat-divider>

    <ng-template ngFor let-m let-i="index" [ngForOf]="menu">

      <span class="side-nav__section-title">{{m.title}}</span>

      <mat-nav-list *ngFor="let item of menu[i].items;let ind = index;" [class.margin]="ind == menu[i].items.length - 1">

        <mat-list-item (click)="triggerGoto(item)">
          <a matLine>{{item.title}}</a>
          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="{{item.icon}}"></mat-icon>
          </button>
        </mat-list-item>

        <mat-list style="margin-left:30px;" *ngIf="item.items && item.items.length > 0" [style.display]="item.opened ? 'block' : 'none'">
          <mat-list-item *ngFor="let url of item.items" (click)="goTo(url.url)">{{url.title}}</mat-list-item>
        </mat-list>

      </mat-nav-list>

      <mat-divider></mat-divider>
    </ng-template>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
