.hidden{
  display: none;
}
.full-height{
  height: 100%;
}
.example-spacer {
  flex: 1 1 auto;
}
.logo{
  width: 264px;
  height: 64px;
  padding-left: 24px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
}

.logo img{
  width: 20%;
}

mat-nav-list.margin{
  padding-bottom: 40px;
}
mat-list-item{
  padding-left: 8px;
}

.header{
  opacity: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  transform: translateY(-100%);
  transition: transform .3s cubic-bezier(.4,0,.6,1),opacity 0s .3s;
}

.header-show{
  opacity: 1;
  transform: translateY(0);
  transition: transform .3s cubic-bezier(.4,0,.2,1) .3s,opacity 0s .3s;
}
.side-nav__section-title{
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto,sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-left: 24px;
  padding-top: 40px;
  display: block;
}

.pointer:hover{
  cursor: pointer;
}

.background{
  background-image: url(../assets/images/bannerHome_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.side-nav__section-title{
  font-weight: 700;
}
