/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
$premex-blue:(
  900:#77ce3f,
  800:#0f78b7,
  700:#1189cb,
  600:#169cdf,
  500:#1aa9ed,
  400:#33b6f0,
  300:#54c3f2,
  200:#83d4f6,
  100:#b4e5fa,
  50:#e1f5fd,
  A100: white,
  A200: white,
  A400: white,
  A700: #0f78b7,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: #000,
    A200: #000,
    A400: white,
    A700: white,
  )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$premex-app-primary: mat-palette($premex-blue,900);
$premex-app-accent:  mat-palette($premex-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$premex-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$premex-app-theme: mat-light-theme($premex-app-primary, $premex-app-accent, $premex-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($premex-app-theme);


body{
  font-family: 'Roboto', sans-serif;
}
