<div fxLayout class="separate">
  <div fxFlex="10"></div>
  <div fxFlex>
    <h1>Administración Series y Subseries</h1>
  </div>
  <div fxFlex="10"></div>
</div>
<div fxLayout="row">
  <div fxFlex="10"></div>
  <div fxFlex>
    <div fxLayout="row">
      <div fxFlex>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
        </mat-form-field>
      </div>

      <div fxFlex="10" fxFlexAlign="center">
        <button class="float-right" mat-raised-button color="primary" (click)="create()">Crear</button>
      </div>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
        <ng-container matColumnDef="SerieId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let element">
            <mat-icon matTooltip="Subseries" matTooltipPosition="above" class="pointer close-icon">keyboard_arrow_right</mat-icon>
            <mat-icon matTooltip="Subseries" matTooltipPosition="above" class="pointer open-icon">keyboard_arrow_down</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="SerieName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre serie</th>
          <td mat-cell *matCellDef="let element">{{ element.SerieName }}</td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon matTooltip="Subseries" matTooltipPosition="above" class="pointer" (click)="addSubserie(element);$event.stopPropagation()" color="primary"
              >subdirectory_arrow_right</mat-icon
            >
            <mat-icon matTooltip="Eliminar" matTooltipPosition="above" class="pointer" (click)="delete(element);$event.stopPropagation()" color="warn"
              >delete</mat-icon
            >
            <mat-icon matTooltip="Editar" matTooltipPosition="above" class="pointer" (click)="edit(element);$event.stopPropagation()" color="primary">edit</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <table mat-table [dataSource]="subseries" class="mat-elevation-z3">
                <ng-container matColumnDef="SubserieId">
                  <th mat-header-cell *matHeaderCellDef>No.</th>
                  <td mat-cell *matCellDef="let element">{{ element.SubserieId }}</td>
                </ng-container>

                <ng-container matColumnDef="SubserieName">
                  <th mat-header-cell *matHeaderCellDef>Nombre subserie</th>
                  <td mat-cell *matCellDef="let element">{{ element.SubserieName }}</td>
                </ng-container>

                <ng-container matColumnDef="Code">
                  <th mat-header-cell *matHeaderCellDef>Código</th>
                  <td mat-cell *matCellDef="let element">{{ element.Code }}</td>
                </ng-container>

                <ng-container matColumnDef="Acciones">
                  <th mat-header-cell *matHeaderCellDef>Acciones</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-icon matTooltip="Eliminar" matTooltipPosition="above" class="pointer" (click)="deleteSub(element)" color="warn"
                      >delete</mat-icon
                    >
                    <mat-icon matTooltip="Editar" matTooltipPosition="above" class="pointer" (click)="editSub(element)" color="primary"
                      >edit</mat-icon
                    >
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedSubColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedSubColumns"></tr>
              </table>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: displayedColumns"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element; getSubseries(element)"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
    </div>
  </div>
  <div fxFlex="10"></div>
</div>
