table,
mat-table {
    width: 100%;
}

.pointer:hover {
    cursor: pointer;
}

tr.example-detail-row {
    height: 0;
}

.example-element-row:hover {
    cursor: pointer;
    background: #eeeeeeab;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    padding: 10px;
    overflow: hidden;
}

.open-icon {
    display: none;
}

.example-expanded-row .open-icon {
    display: block !important;
}

.example-expanded-row .close-icon {
    display: none;
}
