<div fxLayout="column">
  <h2 mat-dialog-title fxFlex fxFlexAlign="center">Editar</h2>
  <div mat-dialog-content>
    <div fxLayout fxLayoutAlign="center" class="top">
      <div fxFlex>
        <div id="form">
          <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field fxFlex appearance="outline">
              <mat-label>Nombre Rol</mat-label>
              <input matInput placeholder="Nombre rol" required min="0" type="text" autocomplete="off" [(ngModel)]="model.RoleName" />
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field fxFlex appearance="outline">
              <mat-label>Módulos</mat-label>
              <mat-select [formControl]="toppings" multiple [(ngModel)]="roleModules">
                <mat-option *ngFor="let module of modules" [value]="module.ModuleId">{{ module.ModuleName }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <br />
        <br />
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]>Cancelar</button>
    <button mat-button (click)="save()" cdkFocusInitial>Aceptar</button>
  </div>
</div>
