<h1 mat-dialog-title>Eliminar {{data.title}}</h1>
<div mat-dialog-content>
  <div fxLayout="column">
    <div fxFlex fxFlexAlign="center" *ngIf="deleting">
      <mat-spinner></mat-spinner>
    </div>
    <span *ngIf="!deleting">¿Está seguro que desea eliminar el registro?</span>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="delete()">Eliminar</button>
  <button mat-button [mat-dialog-close] cdkFocusInitial>Cancelar</button>
</div>
