<div fxLayout class="separate">
  <div fxFlex="10"></div>
  <div fxFlex>
    <h1>Administración Inventario</h1>
  </div>
  <div fxFlex="10"></div>
</div>
<div fxLayout="row">
  <div fxFlex="5"></div>
  <div fxFlex>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayout.md="column" fxLayoutGap="20px">
      <div *ngIf="creating" fxFlex="30">
        <div fxLayout="column">
          <h2 mat-dialog-title fxFlex fxFlexAlign="center">Crear</h2>
          <div mat-dialog-content>
            <div fxLayout fxLayoutAlign="center" class="top">
              <div fxFlex>
                <div id="form">
                  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Dependencia</mat-label>
                      <mat-select [(ngModel)]="model.DependenceId" (selectionChange)="onDependenceSelectChange($event)">
                        <mat-option *ngFor="let e of dependences" [value]="e.DependenceId">
                          {{ e.DependenceName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Serie</mat-label>
                      <mat-select [(ngModel)]="model.SerieId" (selectionChange)="onSerieSelectChange($event)">
                        <mat-option *ngFor="let e of series" [value]="e.SerieId">
                          {{ e.SerieName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Subserie</mat-label>
                      <mat-select [(ngModel)]="model.SubserieId">
                        <mat-option *ngFor="let e of subseries" [value]="e.SubserieId">
                          {{ e.SubserieName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Unidad de almacenamiento</mat-label>
                      <input matInput placeholder="Unidad de almacenamiento" required type="text" autocomplete="off" [(ngModel)]="model.StorageUnit" />
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Tomo</mat-label>
                      <input matInput placeholder="Tomo" required type="text" autocomplete="off" [(ngModel)]="model.Tome" />
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Fecha inicio (m/d/y)</mat-label>
                      <input matInput [matDatepicker]="startdate" placeholder="Fecha inicio" [(ngModel)]="model.StartDate" />

                      <mat-datepicker #startdate></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Fecha Fin (m/d/y)</mat-label>
                      <input matInput [matDatepicker]="enddate" placeholder="Fecha inicio" [(ngModel)]="model.EndDate" />

                      <mat-datepicker #enddate></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Código caja</mat-label>
                      <input matInput placeholder="Código caja" required type="text" autocomplete="off" [(ngModel)]="model.BoxCode" />
                    </mat-form-field>
                  </div>
                </div>
                <br />
                <br />
              </div>
            </div>
          </div>
          <div mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="save()">Crear</button>
            <button mat-raised-button color="primary" (click)="cancelCreate()">Cancelar</button>
          </div>
        </div>
      </div>

      <div *ngIf="isEditing()" fxFlex="30">
        <div fxLayout="column">
          <h2 mat-dialog-title fxFlex fxFlexAlign="center">Editar</h2>
          <div mat-dialog-content>
            <div fxLayout fxLayoutAlign="center" class="top">
              <div fxFlex>
                <div fxFlex fxFlexAlign="center" *ngIf="editing">
                  <mat-spinner></mat-spinner>
                </div>
                <div id="form" *ngIf="!editing">
                  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Estado</mat-label>
                      <mat-select [(ngModel)]="editModel.InventoryStateId">
                        <mat-option *ngFor="let e of inventoryState" [value]="e.InventoryStateId">
                          {{ e.InventoryStateName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Dependencia</mat-label>
                      <mat-select [(ngModel)]="editModel.DependenceId" (selectionChange)="onDependenceSelectChange($event)">
                        <mat-option *ngFor="let e of dependences" [value]="e.DependenceId">
                          {{ e.DependenceName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Serie</mat-label>
                      <mat-select [(ngModel)]="editModel.SerieId" (selectionChange)="onSerieSelectChange($event)">
                        <mat-option *ngFor="let e of series" [value]="e.SerieId">
                          {{ e.SerieName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Subserie</mat-label>
                      <mat-select [(ngModel)]="editModel.SubserieId">
                        <mat-option *ngFor="let e of subseries" [value]="e.SubserieId">
                          {{ e.SubserieName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Unidad de almacenamiento</mat-label>
                      <input matInput placeholder="Unidad de almacenamiento" required type="text" autocomplete="off" [(ngModel)]="editModel.StorageUnit" />
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Tomo</mat-label>
                      <input matInput placeholder="Tomo" required type="text" autocomplete="off" [(ngModel)]="editModel.Tome" />
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Fecha inicio (m/d/y)</mat-label>
                      <input matInput [matDatepicker]="startdate" placeholder="Fecha inicio" [(ngModel)]="editModel.StartDate" />

                      <mat-datepicker #startdate></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Fecha Fin (m/d/y)</mat-label>
                      <input matInput [matDatepicker]="enddate" placeholder="Fecha inicio" [(ngModel)]="editModel.EndDate" />

                      <mat-datepicker #enddate></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Código caja</mat-label>
                      <input matInput placeholder="Código caja" required type="text" autocomplete="off" [(ngModel)]="editModel.BoxCode" />
                    </mat-form-field>
                  </div>
                </div>
                <br />
                <br />
              </div>
            </div>
          </div>
          <div mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="edit()">Crear</button>
            <button mat-raised-button color="primary" (click)="cancelEdit()">Cancelar</button>
          </div>
        </div>
      </div>

      <div fxFlex>
        <div fxLayout="row">
          <div fxFlex>
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
            </mat-form-field>
          </div>

          <div fxFlex="10" fxFlexAlign="center">
            <button class="float-right" mat-raised-button color="primary" (click)="create()">Crear</button>
          </div>
        </div>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                  color="primary"
                  (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                  [aria-label]="checkboxLabel()"
                >
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox
                  color="primary"
                  (click)="selectRow(); $event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)"
                  [aria-label]="checkboxLabel(row)"
                >
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="InventoryId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
              <td mat-cell *matCellDef="let element">{{ element.InventoryId }}</td>
            </ng-container>

            <ng-container matColumnDef="InventoryStateName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
              <td mat-cell *matCellDef="let element">{{ element.InventoryStateName }}</td>
            </ng-container>

            <ng-container matColumnDef="DependenceName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Dependencia</th>
              <td mat-cell *matCellDef="let element">{{ element.DependenceName }}</td>
            </ng-container>

            <ng-container matColumnDef="SerieName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Serie</th>
              <td mat-cell *matCellDef="let element">{{ element.SerieName }}</td>
            </ng-container>

            <ng-container matColumnDef="SubserieName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Subserie</th>
              <td mat-cell *matCellDef="let element">{{ element.SubserieName }}</td>
            </ng-container>

            <ng-container matColumnDef="StorageUnit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Unidad de almacenamiento</th>
              <td mat-cell *matCellDef="let element">{{ element.StorageUnit }}</td>
            </ng-container>

            <ng-container matColumnDef="Tome">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Tomo</th>
              <td mat-cell *matCellDef="let element">{{ element.Tome }}</td>
            </ng-container>

            <ng-container matColumnDef="Acciones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
              <td mat-cell *matCellDef="let element">
                <mat-icon matTooltip="Eliminar" matTooltipPosition="above" class="pointer" (click)="delete(element)" color="warn">delete</mat-icon>
                <mat-icon matTooltip="Editar" matTooltipPosition="above" class="pointer" (click)="edit(element)" color="primary">edit</mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="5"></div>
</div>
