<div fxLayout="column">
    <h2 mat-dialog-title fxFlex fxFlexAlign="center">Crear</h2>
    <div mat-dialog-content>
      <div fxLayout fxLayoutAlign="center" class="top">
        <div fxFlex>
          <div id="form">
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
              <mat-form-field fxFlex appearance="outline">
                <mat-label>Nombre tipo documento</mat-label>
                <input matInput placeholder="Nombre entidad" required type="text" autocomplete="off" [(ngModel)]="model.DocumentalTypeName" />
              </mat-form-field>
              <mat-form-field fxFlex appearance="outline">
                <mat-label>Código</mat-label>
                <input matInput placeholder="Código" required type="text" autocomplete="off" [(ngModel)]="model.Code" />
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
              <mat-form-field fxFlex appearance="outline">
                <mat-label>Subserie</mat-label>
                <mat-select required [(ngModel)]="model.SubserieId">
                  <mat-option *ngFor="let s of subseries" [value]="s.SubserieId">
                    {{ s.SubserieName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex appearance="outline">
                <mat-label>Retención general</mat-label>
                <input matInput placeholder="Retención general" required type="text" autocomplete="off" [(ngModel)]="model.GeneralWithholding" />
              </mat-form-field>
              <mat-form-field fxFlex appearance="outline">
                <mat-label>Retención central</mat-label>
                <input matInput placeholder="Retención central" required type="text" autocomplete="off" [(ngModel)]="model.CentralWithholding" />
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
              <mat-form-field fxFlex appearance="outline">
                <mat-label>Soporte papel</mat-label>
                <input matInput placeholder="Soporte papel" required type="text" autocomplete="off" [(ngModel)]="model.PaperSupport" />
              </mat-form-field>
              <mat-form-field fxFlex appearance="outline">
                <mat-label>Soporte electrónico</mat-label>
                <input matInput placeholder="Soporte electrónico" required type="text" autocomplete="off" [(ngModel)]="model.ElectronicSupport" />
              </mat-form-field>
              <mat-form-field fxFlex appearance="outline">
                <mat-label>Disposición Eliminación</mat-label>
                <input matInput placeholder="Disposición Eliminación" required type="text" autocomplete="off" [(ngModel)]="model.DisposalElimination" />
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
              <mat-form-field fxFlex appearance="outline">
                <mat-label>Disposición selección</mat-label>
                <input matInput placeholder="Disposición selección" required type="text" autocomplete="off" [(ngModel)]="model.DisposalSelection" />
              </mat-form-field>
              <mat-form-field fxFlex appearance="outline">
                <mat-label>Disposición conservación total</mat-label>
                <input matInput placeholder="Disposición conservación total" required type="text" autocomplete="off" [(ngModel)]="model.DisposalTotalConservation" />
              </mat-form-field>
              <mat-form-field fxFlex appearance="outline">
                <mat-label>Disposición digitalización</mat-label>
                <input matInput placeholder="Disposición digitalización" required type="text" autocomplete="off" [(ngModel)]="model.DisposalDigitalization" />
              </mat-form-field>
            </div>
          </div>
          <br />
          <br />
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]>Cancelar</button>
      <button mat-button (click)="save()" cdkFocusInitial>Aceptar</button>
    </div>
  </div>
